In [57]:
from config.utilities import dataframe, dataframe2Dict, get
from config.database import db
import pandas as pd
import seaborn as sns

In [55]:
datos.groupby(["sexo"]).size().reset_index(name = "n")

     sexo   n
0  Hombre  10
1   Mujer  10

In [86]:
d = datos.groupby(["sexo", "edad"]).size().reset_index(name = "n")
d = d.sort_values(by = ["edad"], ascending = False).sort_values(by = ["edad"], ascending = True)
d

      sexo  edad  n
7    Mujer    19  2
8    Mujer    20  1
0   Hombre    21  1
1   Hombre    22  2
9    Mujer    22  1
2   Hombre    23  2
10   Mujer    23  1
3   Hombre    24  2
11   Mujer    24  1
12   Mujer    25  1
13   Mujer    26  1
4   Hombre    33  1
5   Hombre    34  1
6   Hombre    37  1
14   Mujer    38  1
15   Mujer    53  1

AttributeError: module 'os' has no attribute 'python'